<!DOCTYPE html>
<html lang="es">

<head>

    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/styles-productAdd.css">


        <title>Kairos Add Products</title>
</head>

<%- include("../partials/header") %>

<body>

    <form action="/products" method="post" enctype="multipart/form-data">
        <div class="form-body">

            <div class="text-form">
                <p class="text">¡Cargá un nuevo producto!</p>
                <p class="text-medium">Por favor completá los datos:</p>
            </div>

            <div class="form-register">
                <label>Modelo</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form-register">
                <label>Marca</label>
                <input type="text" name="marca" id="marca">
            </div>

            <div class="form-register">
                <label>Descripción</label>
                <input type="text" name="description" id="description">
            </div>

            <div class="form-register">
                <label>Precio</label>
                <input type="number" name="price" id="price">
            </div>

            <div class="form-register">
                <label>Stock</label>
                <input type="number" name="stock" id="stock">
            </div>

            <div class="form-register">
                <label for="image">Imagen Producto:</label>
                <input type="file" name="image" id="image">
            </div>
            
            <button type="submit">Guardar</button>
        </div>
    </form>
</body>
</html>