<!DOCTYPE html>
<html lang="es">

<head>

    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/styles-productAdd.css">


        <title>Kairos Add Products</title>
</head>

<body>

    <form action="/products" method="post" enctype="multipart/form-data">
        <div class="form-body">
            <img src="/images/logo/kairos-logo-un-color-azul.png" alt="kairos-logo-un-color-azul">
            <p class="text">Cargar productos</p>

            <div class="form-register">
                <input type="text" name="name" id="name" placeholder="Modelo Reloj">
            </div>
            <div class="form-register">
                <input type="text" name="marca" id="marca" placeholder="Marca">
            </div>
            <div class="form-register">
                <input type="text" name="sku" id="sku" placeholder="SKU">
            </div>
            <div class="form-register">
                <input type="text" name="description" id="description" placeholder="Descripcion">
            </div>
            <div class="form-register">
                <select name="category" id="category">
                    <option value="">Categoria</option>
                    <option value="sports">Deporte</option>
                    <option value="outdoor">Outdoor</option>
                    <option value="moda">Moda</option>
                </select>
            </div>
            <div class="form-register">
                <input type="text" name="color" id="color" placeholder="Color">
            </div>
            <div class="form-register">
                <input type="number" name="price" id="price" placeholder="Precio">
            </div>
            <div class="form-register">
                <select name="delivery" id="delivery">
                    <option value="">Seleccionar tipo Envio</option>
                    <option value="free">Envio Gratis</option>
                    <option value="charge">sin promo</option>
                </select>
            </div>
            <select name="stock" id="stock">
                <option value="">Estado Stock</option>
                <option value="true">En Stock</option>
                <option value="false">Sin Stock</option>
            </select>
            <div class="form-register">
                <input type="text" name="promotion" id="promotion" placeholder="Promocion">
            </div>
            <div class="form-register">
                <input type="number" name="discount" id="discount" placeholder="Descuento">
            </div>
            <div class="form-register">
                <input type="text" name="specs" id="specs" placeholder="Especificaciones">
            </div>
            <div class="form-register">
                <label for="image">Imagen Producto:</label>
                <input type="file" name="image" placeholder="Imagen del Producto">
            </div>


            <button type="submit">GUARDAR PRODUCTO</button>

    </form>

</body>

</html>