<footer class="footer">

    <div class="main-footer">

        <div class="left-section-footer">
            <ul>
               <p class="footer-title">SERVICIO AL CLIENTE</p>
                <li>Cómo comprar</li>
                <li>Preguntas frecuentes</li>
                <li>Cambios y devoluciones</li>
            </ul>

            <ul>
                <p class="footer-title">ACERCA DE KAIROS</p>
                <li>Quienes somos</li>
                <li>Tiendas</li>
                <li>CyberMonday</li>
            </ul>
        </div>

        <div class="right-section-footer">

            <p>Todo el tiempo para vos</p>
            
            <div class="icons-footer">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>

        <p class="copyright">©Copyright Kairos 2023</p>

    </div>

</footer>