<footer class="footer">

    <div class="main-footer">

        <div class="left-section-footer">
            <ul>
               <p class="footer-title">SERVICIO AL CLIENTE</p>
               <a href="/buy"><li>Cómo comprar</li></a>
                
               <a href="/questions"><li>Preguntas frecuentes</li></a>
               <a href="/changes"><li>Cambios y devoluciones</li></a>
            </ul>

            <ul>
                <p class="footer-title">ACERCA DE KAIROS</p>
                <li>Quienes somos</li>
                <li>Tiendas</li>
                <li>CyberMonday</li>
            </ul>
        </div>

        <div class="right-section-footer">

            <p>Todo el tiempo para vos</p>
            
            <div class="icons-footer">
                <a href="https:/www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https:/www.twitter.com" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="https:/www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https:/www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

        <p class="copyright">©Copyright Kairos 2023</p>

    </div>

</footer>