

<header>
  
  <nav class="menu">
    <section class="menu_container">
      <a href="/" class="logo-link">
        <img src="\images\logo\kairos-logo-un-color-beige.png" alt="logo_beige" class="logo-header" />
      </a>

      <ul class="menu_links">
        <li class="menu_item">
          <a href="/" class="menu_link">Inicio</a>
        </li>

        <li class="menu_item menu_item--show">
          <a href="#" class="menu_link">Relojes <img src="/images/assets/arrow.svg" class="menu_arrow" /></a>
          
          <ul class="menu_nesting">
            <li class="menu_inside">
              <a href="/products" class="menu_link menu_link--inside">Todos los productos </a>
            </li>
            <li class="menu_inside">
              <a href="/products" class="menu_link menu_link--inside">Clasico </a>
            </li>
            <li class="menu_inside">
              <a href="/products" class="menu_link menu_link--inside">Moda Alta Gama</a>
            </li>
            <li class="menu_inside">
              <a href="/products" class="menu_link menu_link--inside">Deportivo</a>
            </li>
            <li class="menu_inside">
              <a href="/products" class="menu_link menu_link--inside">Deporte Profesional</a>
            </li>
          </ul>
        </li>


        <% if (locals.isLogged) { %> 
          <li class="menu_item menu_item--show">
            <a href="#" class="menu_link"><img src="/images/users/<%= locals.userLogged.avatar %>" alt="avatar" class="menu_image_avatar">Hola <%= locals.userLogged.first_name %> <img src="/images/assets/arrow.svg" class="menu_arrow" /></a>
            <ul class="menu_nesting">
              <% if (locals.isLogged && userLogged.id_rol === '1') { %>
                <li class="menu_inside">
                  <a href="/users" class="menu_link menu_link--inside">Ver Todos los usuarios</a>
                </li>
                <% } %>

              <li class="menu_inside">
                <a href="/users/profile" class="menu_link menu_link--inside">Tus datos</a>
              </li>
              <li class="menu_inside">
                <a href="/products/Cart/" class="menu_link menu_link--inside">Tu carrito</a>
              </li>
              <li class="menu_inside">
                <a href="/users/logout/" class="menu_link menu_link--inside">Cerrar Sesion</a>
              </li>
            </ul>
          </li>
      
          <% } else { %>
            <li class="menu_item menu_item--show">
              <a href="/users/login/" class="menu_link">Login</a>
            </li>
          <% } %>
        </div>

        <li class="menu_item">
          <a href="#" class="menu_link">Contactanos</a>
        </li>
      </ul>
      <div class="menu_hamburguer">
        <img src="/images/assets/menu.svg" class="menu_img" />
      </div>
    </section>
  </nav>
  
  <script src="/js/navBar.js"></script>
</header>
