body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto';
    flex-wrap: wrap;
}
.form-register {
  position: relative;
}

.form-body{
    position: relative;
    width: 400px;
    border: none;
    background-color: #d2d2d2;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.text{
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    color: #001C3B;
    margin-bottom: 5px;
}

.text-medium{
    text-align: center;
    font-size: 16px;
    color: #001C3B;
    margin-bottom: 25px;
}

.form-body input{
    display: block;
    margin: auto;
    margin-bottom: 8px;
    width: 60%;
    padding: 8px;
    color: gray;
    border: none;
    background-color: white;
    font-size: 16px;
}

::placeholder {
  font-size: 16px;
  color: gray;
}

.form-body button {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  height: 40px;
  width: 30%;
  background-color: #001c3b;
  color: white;
  border: none;
  font-size: 14px;
}

.form-body label {
    display: block;
    margin: auto;
    width: 60%;
    padding: 5px;
    color: #001C3B;
    font-size: 12px;
}

.form-body select {
    display: block;
    margin: auto;
    width: 60%;
    padding: 8px;
    color: gray;
    font-size: 14px;
    border: none;
    margin-bottom: 8px;
}

.text-danger {
  color: red;
  text-align: center;
}

#avatar {
  font-size: 10px;
}

.form-register{
  margin: auto;
  width: 100%;
}

@media (max-width: 481px){
  .form-body {
    border: none;
  }
}
@media (min-width: 769px){
    /* Laptop */
    form{
        display: flex;
        flex-wrap: wrap;
    }
    .form-body{
        width: 95vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form-register{
        width: 48%;
    }
    .text-form{
      margin: auto;
    }
}