* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main-header{

    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.logo-header{

    width: 40%;
    justify-content: center;

}

.hamburguer-menu{

    font-size: 20px;
    color: #001C3B;

}

.main-navbar{

    display: none;

}

.main-navbar ul{

    list-style: none;
    margin: 0;
    padding: 0;

}

.main-navbar a{

    text-decoration: none;
    color: black;
    font-family: 'Times New Roman';

}

.nav-icons{

    font-size: 20px;
    color: #001C3B;

}

.user-icon{

    display: none;

}

.main-banner{

    width: 100%;
    max-height: 60vh;

}

@media (min-width: 768px){

    .main-header{

        padding: 2rem;

    }

    .hamburguer-menu{

        display: none;

    }

    .logo-header{

        width: 20%;

    }

    .main-navbar{

        display: flex;
        flex-wrap: wrap;

    }

    .main-navbar ul{

        display: flex;
        flex-wrap: wrap;

    }

    .main-navbar li{

        margin: 0 10px;
        font-size: 18px;

    }

    .user-icon{

        display: inline-block;
    
    }

    .nav-icons{

        margin: 0 7px;
        font-size: 24px;

    }


}

@media (min-width: 1280px){

    .main-navbar li{

        font-size: 24px;

    }

    .nav-icons{

        font-size: 30px;
        margin: 0 15px;

    }

}
