

.title-cart{
    text-align: center;
    color: #001C3B;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px #D9D9D9;
    width: 80%;
    margin: auto;
}

.cart-icon{
    padding-right: 8px;
}