body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto";
}

.form-login {
  position: relative;
}

.form-body {
  position: relative;
  width: 400px;
  border: solid 3px #001c3b;
  margin: auto;
}

.form-body img {
  width: 200px;
  display: block;
  margin: 20px auto;
  margin-bottom: 5px;
  margin-top: 50px;
}

.text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #001c3b;
  margin-bottom: 25px;
}

.form-body p {
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: #001c3b;
}

.form-body input {
  display: block;
  margin: auto;
  height: 40px;
  width: 50;
  padding: 12px 0px 12px 30px;
  color: #001c3b;
  border: 3px solid #001c3b;
  font-size: 16px;
  outline: none;
}

.form-body i {
  position: absolute;
  bottom: 13px;
  margin-left: 100px;
  color: #001c3b;
}

.form-body input[type="password"] {
  margin-top: 20px;
}

::placeholder {
  font-size: 16px;
  color: gray;
}

.form-body button {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  height: 40px;
  width: 30%;
  background-color: #001c3b;
  color: white;
  border: none;
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: #001c3b;
  font-size: 12px;
}

.remember-user {
  display: inline-flex;
  align-items: center;
  margin-left: 110px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

@media (max-width: 481px) {
  .form-body {
    border: none;
  }
}
