body {
  font-family: "Roboto";
  background-color: white;
}

main {
  padding-bottom: 150px;
}

.title-cart {
  text-align: center;
  color: #001c3b;
  font-size: 20px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px #d9d9d9;
  width: 80%;
  margin: auto;
}

.cart-icon {
  padding-right: 8px;
  color: #001c3b;
}
.article {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #001c3b;
  margin: auto;
}
.images {
  width: 25%;
  padding: 10px;
}
.button-discount {
  display: flex;
  background-color: #b2b2b2;
  color: #001c3b;
  padding: 10px;
  text-align: center;
  margin: auto;
  border: none;
  margin-bottom: 10px;
}
.ticket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
}
.sub-ticket {
  padding: 5px;
  text-align: right;
  margin-right: 8px;
  color: #001c3b;
}
.total {
  padding: 5px;
  text-align: right;
  color: #001c3b;
}
.add-product {
  display: flex;
  background-color: white;
  color: #001c3b;
  text-align: center;
  padding: 10px 30px;
  margin: auto;
  border: #001c3b solid 3px;
}
.end-sale {
  display: flex;
  background-color: #001c3b;
  color: white;
  padding: 10px 50px;
  text-align: center;
  margin: auto;
  border: #001c3b solid 3px;
}

@media (min-width: 769px) {
  /* Laptop */
  .cart-desktop {
    display: flex;
    flex-direction: row;
  }
  .article {
    width: 48%;
    font-size: 18px;
    margin-top: 10px;
  }
  .buttons {
    width: 48%;
    margin-right: 5px;
  }
  .title-cart {
    text-align: left;
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
}
