body{
  height: 100vh;
  font-family: 'Roboto';
}

.userDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.userPhoto {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.userName {
  font-size: 22px;
  width: 70%;
}

.userText {
  color: #001c3b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonBuy {
  background-color: #001c3b;
  color: white;
  padding: 8px 10px;
  font-weight: normal;
  font-family: "Roboto";
  font-size: 12px;
  text-decoration: none;
  border: none;
  display: inline-block;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 50%;
}

.submit-button {
  background-color: #b2b2b2; /* Color de fondo */
  color: #001c3b; /* Color del texto */
  padding: 10px; /* Relleno del botón */
  border: none; /* Elimina el borde del botón */
  margin-top: 10px;
  width: 50%;
  font-size: 12px;
  margin-bottom: 50px;
}

@media (min-width: 769px) {
  /* Laptop */
  .userPhoto {
    width: 50%;
    text-align: right;
  
  }
  .userText {
    width: 50%;
    text-align: left;
    margin-left: 0px;
  }
  .userDetail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  /* desktop */
}
