.sectionMenuCategory {
  margin-top: 150px;
  margin-left: 300px;
}
.link-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.link-container:last-child {
  width: 100%; /* Hace que el último elemento ocupe toda la línea */
}

.all-products-image {
  text-align: center;
  margin-left: 100px;
  width: 1000px;
  height: auto;
}

.button-all-products {
  width: 76%;
  height: auto;
  margin-left: 0;
  margin-top: 0;
  border-radius: 5px;
}
.button-all-products:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}