.section {
  margin-top: 150px;
}
.link-container {
  display: flex;
  flex-wrap: wrap;
}
.link-container:last-child {
  width: 100%; /* Hace que el último elemento ocupe toda la línea */
}

.all-products-image {
  margin-right: 0%;
  width: 800px;
  height: auto;
}
