.product-container {
  width: 100%;
  margin-left: 250px;
  margin-top: 200px;
}

.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 200px;
  width: 100%;
  margin-bottom: 10px;
}
