.article-container {
  display: flex;
  align-items: center;
  margin-right: 100px;
  background-color: #fff;
  border-radius: 6px;
}

.text-container {
  flex: 1;
  color: grey;
}

.image-container {
  margin-right: 50px;
  max-width: 500px;
}

.image {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 5px;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin-right: 20px;
}
