.product-container {
  width: 80%;
  margin-left: 250px;
  margin-top: 200px;
}

.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: auto;
  margin-bottom: 10px;
}
