.userCard {
  background-color: #D1C5AA;
  color: #001C3B;
  border-radius: 5px;
  border: none;
  margin: 5px;
  width: 280px;
  height: 120px;
  padding: 20px;
  display: flex;
  margin-bottom: 30px;
}
.userCard:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.userInfo {
  flex-direction: column;
  margin-top: 10px;
}
.imgUser {
  width: 30%;
  align-self: flex-start;
  margin-top: 10px;
  margin-right: 10px;
}
.userName {
  font-size: 18px;
  font-weight: bold;
}
.userLastName {
  font-size: 18px;
}
.userEmail {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
}
.buttonDeleteUser{
  font-size: 10px;
  background-color: #001C3B;
  color: #D1C5AA;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 14px;
}
