.users-container {
  width: 80%;
  margin-left: 100px;
  margin-top: 100px;
}
.users {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  margin-bottom: 10px;
}
