body {
  background-color: white;
}

main {
  padding: 8px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.title-users {
  font-size: 22px;
  font-weight: normal;
  color: #001c3b;
  margin-top: 20px;
}

.main-users {
  text-align: left;
  font-size: 16px;
  color: #001c3b;
  margin-bottom: 25px;
}

@media (min-width: 728px) {
  /* tablet */
}

@media (min-width: 1280px) {
  /* desktop */
}
