body {
  height: 100vh;
}

.form-register {
  position: relative;
}

.form-body {
  margin: auto;
  background: #d1c5aa;
  width: 70%;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text {
  text-align: center;
  font-size: 28px;
  font-weight: normal;
  color: #001c3b;
  margin-bottom: 5px;
  margin-top: 20px;
}

.text-medium {
  text-align: center;
  font-size: 16px;
  color: #001c3b;
  margin-bottom: 25px;
}

.form-body input {
  display: block;
  margin: auto;
  margin-bottom: 8px;
  width: 60%;
  padding: 8px;
  color: gray;
  border: none;
  background-color: white;
  font-size: 12px;
}

::placeholder {
  font-size: 16px;
  color: gray;
}

.form-body button {
  display: block;
  background-color: #001c3b;
  color: white;
  padding: 8px 10px;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  border: none;
  margin: auto;
  width: 30%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.form-body button:hover {
  background-color: #7c92bd;
}

.form-body label {
  display: block;
  margin: auto;
  width: 60%;
  padding: 5px;
  color: #001c3b;
  font-size: 12px;
}

.form-body select {
  display: block;
  margin: auto;
  width: 60%;
  padding: 8px;
  color: gray;
  font-size: 14px;
  border: none;
  margin-bottom: 8px;
}

.text-danger {
  color: red;
  text-align: center;
}

#avatar {
  font-size: 10px;
}

.form-register {
  margin: auto;
  width: 100%;
}

@media (max-width: 481px) {
  .form-body {
    border: none;
  }
}
@media (min-width: 769px) {
  /* Laptop */

  .form-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
  }
  .form-register {
    width: 50%;
  }
  .text-form {
    margin: auto;
    width: 100%;
  }


}
