.main {
  text-align: center;
  margin-left: 200px;
  margin-right: auto;
  height: 100%;
  width: auto;
  box-sizing: border-box;
}

.main-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex-basis: calc(33.33% - 20px); /* Ajusta según sea necesario, el 20px es para el espacio entre los elementos */
  margin: 10px; /* Ajusta según sea necesario, proporciona un espacio entre los elementos */
}

.title {
  text-align: center;
}
