.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  height: 100vh; /* O ajusta la altura según tus necesidades */
}

.main-container {
  text-align: center;
}

.title {
  left: 0%;
}
