.sidebar {
  background-color: grey;
  position: fixed;
  top: 135px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #b0a386;
  color: #001c3b;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: roboto;
}

.sidebarList {
  height: auto;
  width: 100%;
  padding-left: 0%;
  list-style-type: none;
}
.sidebarList .row {
  width: 100%;
  height: 60px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001c3b;
}
.sidebarList .row:hover {
  cursor: pointer;
  background-color: #d1c5aa;
}

.row .icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row .item {
  flex: 70%;
}
.not-found {
  margin-left: 500px;
}
