.sidebar {
  background-color: grey;
  position: fixed;
  top: 135px;
  left: 0; /* Colocar en el lado derecho */
  width: 200px; /* Ancho fijo  */
  height: 100%; /* Ocupar toda la altura de la página */
  background-color: #b0a386; /* Color de fondo (puedes cambiarlo) */
  color: #001c3b; /* Color del texto (puedes cambiarlo) */
  padding: 10px; /* Añadir espacio interno (ajusta según sea necesario) */
  box-sizing: border-box; /* Incluir el padding en el ancho total */
  overflow: hidden; /* Ocultar cualquier contenido que exceda la altura */
  display: flex; /* Utilizar flexbox para centrar verticalmente el contenido */
  flex-direction: column; /* Apilar el contenido verticalmente */
  align-items: center; /* Centrar horizontalmente el contenido */
  font-family: roboto;
}

.sidebarList {
  height: auto;
  width: 100%;
  padding-left: 0%;
  list-style-type: none;
}
.sidebarList .row {
  width: 100%;
  height: 60px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001c3b;
}
.sidebarList .row:hover {
  cursor: pointer;
  background-color: #d1c5aa;
}

.row .icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row .item {
  flex: 70%;
}
