<!doctype html>
<html lang="es">
  <head>
    <%- include("partials/head") %>

    <title>Kairos</title>
  </head>

  <body>
    <%- include("partials/header") %>

    <img src="/images/hero-banner.jpeg" alt="" class="main-banner" />

    <main class="main-body">
      <h2 class="title-newest">Lo mas nuevo</h2>

      <div class="newest-products">
        <div class="new-product">
          <p>Reloj</p>
          <img src="/images/rolex.jpg" alt="" />
        </div>

        <div class="new-product">
          <p>Reloj</p>
          <img src="/images/rolex.jpg" alt="" />
        </div>

        <div class="new-product">
          <p>Reloj</p>
          <img src="/images/rolex.jpg" alt="" />
        </div>
      </div>

      <div class="category-about">
        <img src="/images/sport-women.jpg" alt="" />
        <p>
          Nuestros relojes deportivos combinan tecnología y estilo para ser tu
          compañero ideal en cualquier actividad física. Además de mostrar la
          hora, monitorizan ritmo cardíaco, pasos y más en tiempo real. Con GPS,
          resistencia al agua y seguimiento especializado, se adaptan a
          diferentes deportes. Tanto atletas como aficionados encontrarán en
          ellos herramientas para superarse y alcanzar objetivos. Su diseño
          moderno y duradero va más allá de la estética, siendo esenciales para
          una vida activa y saludable.
        </p>
      </div>

      <div class="category-about style-about">
        <img src="/images/style-man.jpg" alt="" />
        <p>
          Nuestros relojes clásicos encarnan la elegancia duradera y la
          artesanía excepcional. Cada detalle refleja refinamiento, desde
          acabados hasta complicaciones. Estos relojes no son solo accesorios,
          son expresiones de estilo y distinción, ideales tanto para ocasiones
          formales como para el uso diario.
        </p>
      </div>

      <div class="banner-bottom">
        <img src="/images/banner-bottom.jpg" />
        <div class="image-text">25% OFF</div>
      </div>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
