<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>

    <header class="main-header">  
        
            <i class="fa-solid fa-bars hamburguer-menu"></i>

            <img src="/images/kairos-logo-color.png" alt="" class="logo-header">

            <nav class="main-navbar">

                <ul>

                    <li><a href="">Relojes</a></li>
                    <li><a href="">Deportivos</a></li>
                    <li><a href="">Clásicos</a></li>
                    <li><a href="">Sobre Nosotros</a></li>

                </ul>
                
            </nav>
 
            <div>
                
                <i class="fa-solid fa-user nav-icons user-icon"></i>
                <i class="fa-solid fa-magnifying-glass nav-icons"></i>
                <i class="fa-solid fa-cart-shopping nav-icons"></i>

            </div>

    </header>


    <img src="/images/hero-banner.jpeg" alt="" class="main-banner">
    
</body>
</html>