<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arapey&family=Kanit:wght@200;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>Kairos</title>
</head>

<body>

    <header class="main-header">

        <i class="fa-solid fa-bars hamburguer-menu"></i>

        <img src="/images/kairos-logo-color.png" alt="" class="logo-header">

        <nav class="main-navbar">

            <ul>

                <li><a href="">Relojes</a></li>
                <li><a href="">Deportivos</a></li>
                <li><a href="">Clásicos</a></li>
                <li><a href="">Sobre Nosotros</a></li>

            </ul>

        </nav>

        <div>

            <i class="fa-solid fa-user nav-icons user-icon"></i>
            <i class="fa-solid fa-magnifying-glass nav-icons"></i>
            <i class="fa-solid fa-cart-shopping nav-icons"></i>

        </div>

    </header>

    <img src="/images/hero-banner.jpeg" alt="" class="main-banner">

    <main class="main-body">

        <h2 class="title-newest">Lo mas nuevo</h2>

        <div class="newest-products">

            <div class="new-product">

                <p>Reloj</p>
                <img src="/images/rolex.jpg" alt="">

            </div>

            <div class="new-product">

                <p>Reloj</p>
                <img src="/images/rolex.jpg" alt="">

            </div>

            <div class="new-product">

                <p>Reloj</p>
                <img src="/images/rolex.jpg" alt="">

            </div>

        </div>

        <div class="category-about">

            <img src="/images/sport-women.jpg" alt="">
            <p>Nuestros relojes deportivos combinan tecnología y estilo para ser tu compañero ideal en cualquier
                actividad física. Además de mostrar la hora, monitorizan ritmo cardíaco, pasos y más en tiempo real. Con
                GPS, resistencia al agua y seguimiento especializado, se adaptan a diferentes deportes. Tanto atletas
                como aficionados encontrarán en ellos herramientas para superarse y alcanzar objetivos. Su diseño
                moderno y duradero va más allá de la estética, siendo esenciales para una vida activa y saludable.
            </p>

        </div>

        <div class="category-about style-about">

            <img src="/images/style-man.jpg" alt="">
            <p>Nuestros relojes clásicos encarnan la elegancia duradera y la artesanía excepcional. Cada detalle refleja
                refinamiento, desde acabados hasta complicaciones. Estos relojes no son solo accesorios, son expresiones
                de estilo y distinción, ideales tanto para ocasiones formales como para el uso diario.
            </p>

        </div>

        <div class="banner-bottom">

            <img src="/images/banner-bottom.jpg">
            <div class="image-text">25% OFF</div>

        </div>

    </main>

    <footer class="footer">

        <div class="main-footer">

            <div class="left-section-footer">

                <div class="logo-footer">

                    <img src="/images/kairos-logo-blanco.png" alt="">

                </div>

                <div class="icons-footer">

                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-square-twitter"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-youtube"></i>

                </div>

            </div>

            <div class="right-section-footer">

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, qui minus? Officia modi sunt ipsum
                    voluptatem, culpa dolore quod illo vero corrupti sed, quos, sint non asperiores fugiat nostrum
                    totam.
                </p>

            </div>

            <p class="copyright">©Copyright Kairos 2023</p>

        </div>

    </footer>




</body>

</html>