<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/styles-login.css">
    

    <title>Document</title>
</head>
<body>
    <form action="" method="post">
    <div class="form-body">
        <img src="/images/kairos-logo-un-color-azul.png" alt="kairos-logo-un-color-azul">
        <p class="text">Bienvenido</p>
        <div class="form-login">
                <i class="fa-solid fa-user"></i>
            <input type="text"  placeholder="Usuario">
        </div>
        <div class="form-login">
                <i class="fa-solid fa-lock"></i>
            <input type="password" placeholder="Contraseña">
        </div>
            <button>Ingresar</button>
            <p><a href="#" class="link">Olvidaste tu contraseña?</a></p>
    </form>   
</body>
</html>