<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/styles-productCart.css">
    

    <title>Kairos</title>
</head>
<body>
    

    <%- include("partials/header") %>

    <main> 
        <h3 class="title-cart" ><i class="fa-solid fa-cart-shopping cart-icon"></i>Mi Carrito</h3>

    <article class="article">
       <img src="/images/otraimagen.jpg" alt="reloj" class="images">
        <div>
            <p>Reloj Rolex Barcelona</p>
            <p>Precio: $129.000</p>
        </div>
        
    </article>
    <button>
        <button class="button-discount" type="submit"></a>AÑADIR CUPON DE DESCUENTO</button>
    </button>
    <div class="ticket">
        <p class="sub-ticket">Sub Total: $129.000</p>
        <h3 class="total">Total: $129.000</h3>
    </div>
    <button>
        <button class="add-product" type="submit"></a>ELEGIR MAS PRODUCTOS</button>
    </button>
    <button>
        <button class="end-sale" type="submit"></a>FINALIZAR COMPRA</button>
    </button>


    </main>

    <%- include("partials/footer") %>

</body>

</html>