<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-productDetail.css">
    <link rel="stylesheet" href="/css/normalize.css">

    <title>Kairos</title>
</head>

<header>

</header>

<body>
    <main>
        <section class="productDetail">
            <article class="productDetail-d">
                <img class="productPhoto" src="/images/700_700-quatix7111.jpg" alt="Quatix 7X Solar Edition">
                <div class="productText">
                    <img class="productLogo" src="/images/logo-garmin.jpg" alt="Logo Garmin">
                    <h6 class="productNumber">NRO. DE PARTE: 010-02541-61</h6>
                    <h1 class="productName">Quatix 7X – Solar Edition</h1>
                    <h1 class="productPrice">$1.105.999</h1>
                    <h5 class="productPricePay">¡Hasta 12 cuotas sin interés!</h5>
                    <h5 class="productPriceOff">¡20% OFF en 1 pago!</h5>
                </div>
                <button class="buttonBuy">LO QUIERO</button>
            </article>
                <div>
                    <h4>Descripción</h4>
                    <p class="textDescription">TRAZA LA RUTA A TU PARAÍSO PARTICULAR EN EL AGUA Y MÁS ALLÁ
                        Gracias a quatix® 7X – Solar Edition, el reloj náutico multideporte
                        con GPS y carga solar, contarás con todas las funciones que necesitas
                        en la embarcación y fuera de ella.</p>
                </div>
                <div>
                    <h4>Especificaciones</h4>
                    <p>Cuadro</p>
                </div>  
        </section>
    </main>

<footer>

</footer>

</body>
</html>