<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-productCart.css">
    <link rel="stylesheet" href="/css/normalize.css">

    <title>Kairos</title>
</head>
<body>
    <header> 

    </header>

    <main> 
        <h3 class="title-cart" ><i class="fa-solid fa-cart-shopping cart-icon"></i>Mi Carrito</h3>



    </main>

    <footer> 

    </footer>

</body>

</html>