<!doctype html>
<html lang="es">
  <!-- Include Head incluir partials -->

  <body>
    <!-- Header incluir partials -->

    <!-- /Header -->

    <!-- todos los productos -->
    <div>
      <div>
        <div>
          <h2>Todos los productos a Mostrar</h2>
        </div>
        <!-- /todos los productos / definir la laogica de vista-->

        <!-- /todos los productos -->
      </div>
    </div>
    <!-- /todos los productos -->

    <!-- footer incluir partials-->

    <!-- /footer -->
  </body>
</html>
