<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("partials/head", {title: 'Todos los productos' }) %>
    <link rel="stylesheet" href="/css/styles-productDetail.css" />

    <title>Kairos</title>

</head>

<%- include("partials/header") %>

  <body>
    <!-- todos los productos agregar forEach-->
    <% products.forEach(product=> { %>
      <%- include("partials/product-card", {product}) %>
        <% }) %>


          <%- include("partials/footer") %>
  </body>

</html>