<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-productCart.css">
    

    <title>Kairos</title>
</head>
<body>
    <header> 

    </header>

    <main> 
        <h3 class="title-cart" ><i class="fa-solid fa-cart-shopping cart-icon"></i>Mi Carrito</h3>

    <article class="article">
       <img src="/images/otraimagen.jpg" alt="reloj" class="images">
        <div>
            <p>Reloj Rolex Barcelona</p>
            <p>Precio: $129.000</p>
        </div>
        
    </article>
    <button>
        <button class="button-discount" type="submit"></a>AÑADIR CUPON DE DESCUENTO</button>
    </button>
    <div class="ticket">
        <p class="sub-ticket">Sub Total: $129.000</p>
        <h3 class="total">Total: $129.000</h3>
    </div>
    <button>
        <button class="add-product" type="submit"></a>ELEGIR MAS PRODUCTOS</button>
    </button>
    <button>
        <button class="end-sale" type="submit"></a>FINALIZAR COMPRA</button>
    </button>


    </main>

    <footer> 

    </footer>

</body>

</html>