<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Arapey&family=Kanit:wght@200;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap"
      rel="stylesheet">
  
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/styles-register.css" />

    <title>Kairos Registro Usuario</title>
</head>

<body>

    <form action="/sql/register-sql" method="POST" enctype="multipart/form-data">
      <div class="form-body">

        <div class="text-form">
          <p class="text">¡Creá una nueva cuenta!</p>
          <p class="text-medium">Por favor completá con tus datos:</p>
        </div>

        <div class="form-register">
          <label>Nombre</label>
          <input type="text" name="first_name" id="first_name">
            
        </div>

        <div class="form-register">
          <label>Apellido</label>
          <input type="text" name="last_name" id="last_name" >
        </div>

        <div class="form-register">
          <label>Email</label>
          <input type="text" name="email" id="email" >
        </div>
        
      <div class="form-register">
          <label>Fecha Nacimiento</label>
          <input type="date" name="birth_date" id="birth_date" >
        </div>


        <div class="form-register">
          <label>Contraseña</label>
          <input type="password" name="password" id="password" />
        </div>

        <div class="form-register">
          <label>Rol</label>
          <input type="text" name="rol" id="rol" />
        </div>

        <div class="form-register">
          <label for="avatar">Elegí tu foto de perfil</label>
          <input type="file" name="avatar" id="avatar" />
        </div>

        <button type="submit">Registrarse</button>
      </div>
    </form>


</body>

</html>