<html lang="en">
<head>
    
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/styleloginreg.css">
    

    <title>Kairos Register</title>
</head>

<body class="ta-center formato-total">
    <header class="mg-top-30">
        <img class="w-60 " src="/images/kairos-logo-un-color-azul.png" >
    </header>
    <main class="w-100 ta-center">
        <h1 class="ta-center color-azul fz-18 ">Registro</h1>

        <form class="ta-center mg-top-50  "action="/login">
            <div class="mg-b border-rad-5 formato-form ">
                <label for="nombre">Nombre</label>
                <input  type="text" name="nombre" id="nombre" >
            </div>
            <div class="mg-b border-rad-5 formato-form">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" >
            </div>
            <div class="mg-b border-rad-5 formato-form">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" >
            </div>
            <div class="mg-b border-rad-5 formato-form">
                <label for="genero">Genero</label>
                <select name="genero" id="genero">
                    <option name= "genero" value="masc" id="genero">Masculino</option>                    
                    <option name= "genero" value="fem" id="genero">Femenino</option>
                </select>              

            </div>
            <div class="mg-b formato-form">
                <label for="date">Fecha de Nacimiento</label>
                <input type="date" name="date" id="date" >
            </div>
            <div class="mg-b formato-form">
                <label for="contrasena">Contraseña</label>
                <input type="password" name="contrasena" id="contrasena" >
            </div>
            <div class="mg-b formato-form">
                <label for="repcontrasena">Repetir Contraseña</label>
                <input type="password" name="repcontrasena" id="repcontrasena" >
            </div>
            

        
            <nav> 
                <button class="mg-top-30 border-rad-10 bg-azul w-30 color-blanco">Registrarse</button>
            </nav>

    </form>
    

    </main>
    
</body>
</html>