<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estoy mirando al SQL DATABASE</title>
  </head>
  <body>
    <h3>Mirando la base SQL Kairos_DB</h3>
    <h4>Todos los usuarios</h4>
    <ul>
      <% for( let i = 0; i < user.length; i++ ) { %>
      <li>
          <a href="<%= user[i].id %>"><%= user[i].first_name %></a>
      </li>
      <% } %>

  </ul>
    <h4>Lee abajo del div</h4>
  </body>
</html>

