<footer class="footer">

    <div class="main-footer">

        <div class="left-section-footer">

            <div class="logo-footer">

                <img src="/images/logo/kairos-logo-blanco.png" alt="">

            </div>

            <div class="icons-footer">

                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>

            </div>

        </div>

        <div class="right-section-footer">

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, qui minus? Officia modi sunt ipsum
                voluptatem, culpa dolore quod illo vero corrupti sed, quos, sint non asperiores fugiat nostrum
                totam.
            </p>

        </div>

        <p class="copyright">©Copyright Kairos 2023</p>

    </div>

</footer>