<header class="main-header">

    <i class="fa-solid fa-bars hamburguer-menu"></i>

    <img src="/images/logo/kairos-logo-color.png" alt="" class="logo-header">

    <nav class="main-navbar">

        <ul>

            <li><a href="/products/">Relojes</a></li>
            <li><a href="">Deportivos</a></li>
            <li><a href="">Clásicos</a></li>
            <li><a href="">Sobre Nosotros</a></li>

        </ul>

    </nav>

    <div>

        <a href="/users/login/"><i class="fa-solid fa-user nav-icons user-icon"></i></a>
        <a href="/products/"><i class="fa-solid fa-magnifying-glass nav-icons"></i></a>
        <a href="/products/Cart/"><i class="fa-solid fa-cart-shopping nav-icons"></i></a>

    </div>

</header>