<article>





    <div>
        <a href="/users/<%= users.id %>">
            <p class="nombre-producto">
                <%= users.first_name %>
                    <%= users.last_name%>
            </p>
        </a>

        <p class="descripcion-producto">
            <%= users.email %>
        </p>

    </div>

</article>