<!doctype html>
<html lang="es">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/styles-how-to-buy.css" />

    <title>Kairos</title>
  </head>

  <body>
    <%- include("partials/header") %>
    <div class="marquee">
      ENCONTRÁ TU RELOJ IDEAL Y DISFRUTÁ CADA MINUTO DE LA VIDA! <i class="fa-solid fa-truck-fast"></i>
      ENVÍOS A TODO EL PAÍS! 
    </div>
  
     
    <main>
        <h4>Para hacer un pedido en nuestro shop online, siga estos pasos:</h4>
        <ul>
            <p>Cree una cuenta o identifíquese en «Mi cuenta» en la parte superior derecha de la página de inicio.</p>
            <p>Seleccione sus artículos a medida que navega por el sitio y añádalos al carrito. Si ya es clienta de nuestro shop online, haga clic en "Mi cuenta" e identifíquese con su dirección de correo electrónico y contraseña. Si todavía no es clienta, haga clic en "Mi cuenta" y, a continuación, en "Crear una cuenta".</li>
            <p>Valide el carrito</p>
            <p>Indique su dirección de entrega.</p>
            <p>Confirme y pague el pedido.</p>
            <p>Cree una cuenta o identifíquese en «Mi cuenta» en la parte superior derecha de la página de inicio.</p>
        </ul>
        <p> Una vez validado el pedido, recibirá un correo electrónico de confirmación del pedido.</p>
        <p> Para conocer en todo momento la evolución del pedido, acceda a su cuenta en la sección «Mis pedidos». En esta sección, encontrará información detallada de los pedidos y podrá imprimir las facturas.</p>
        <div class="options">
            <h4> MI CARRITO</h4>
            <p>Añadir un artículo al carrito</p>
            <p>Para añadir un artículo al carrito, acceda a la ficha del producto que desea, seleccione el talle y haga clic en «COMPRAR».</p>
        </div>
        <div class="options">
            <h4> EL CARRITO</h4>
            <p>Para ver y adquirir los productos del carrito, vaya a «Mi carrito» en la parte superior derecha de la página de inicio. Representada por un dibujo de una bolsa.
            </p>
        </div>
        <div class="options">
            <h4> ELIMINAR ARTÍCULOS DEL CARRITO</h4>
            <p>Para eliminar artículos del carrito, haga clic en la casilla de supresión en forma de cruz a la derecha de la línea de los productos correspondientes.
            </p>
            <p>Plazo de validez del carrito</p>
            <p>El plazo de validez del carrito es de 30 días. Este período se puede renovar con cada adición de producto y cada etapa del proceso de pedido. Transcurrido este plazo, los productos ya no estarán visibles en el carrito. Aún así esto no asegura el stock de los productos.</p>
        </p>
        </div>

    </main>

    <%- include("partials/footer") %>
  </body>
</html>
