<!doctype html>
<html lang="es">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/styles-how-to-buy.css" />

    <title>Kairos</title>
  </head>

  <body>
    <%- include("partials/header") %>
    <div class="marquee">
      ENCONTRÁ TU RELOJ IDEAL Y DISFRUTÁ CADA MINUTO DE LA VIDA! ENVÍOS A TODO
      EL PAÍS
    </div>
  
     
    <main>
        <h2>Proceso para realizar cambios y devoluciones:</h2>
        <p>Todo artículo adquirido que no sea de la completa satisfacción del Usuario puede ser cambiado en un plazo máximo treinta (30) días corridos contados a partir de la fecha de recepción del pedido. Para esto deberán notificar de manera fehaciente a atencionalcliente@Kairos.com.ar , indefectiblemente dentro del plazo señalado, y poner a su disposición el o los Productos adquiridos. Los Productos deberán encontrarse en el mismo estado en que fueron remitidos, sin haber sido utilizados, y con el embalaje y etiquetas originales en buen estado. Todo artículo adquirido que no sea de la completa satisfacción del Usuario puede ser devuelto en un plazo máximo de setenta y dos (72) horas corridas contadas a partir de la fecha de recepción del pedido. Excedidas las setenta y dos (72) horas, se podrá solicitar una nota de crédito dentro de los treinta (30) días corridos contados a partir de la fecha de la recepción del pedido. Un producto que ha sido cambiado previamente no admite devolución. En el caso que la devolución se deba a alguna falla del Producto cubierta por la garantía, los gastos necesarios exclusivamente para la devolución del Producto por la misma vía de entrega, correrán a cargo de Kairos.- Los Usuarios podrán requerir mayor información, o bien notificar devoluciones o formular reclamos por eventuales defectos de fabricación y/o roturas y/o deterioros en tránsito, y/o despachos equivocados, en el Website de todos los días del año durante las 24 horas, por mail o de 9 a 18hs por nuestro chat exclusivo.</p>
        
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
