<html lang="es">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/styles-contact-msg.css" />
    <script src="/js/contact-msg.js" defer></script>

    <title>Kairos Contacto</title>
  </head>

  <body>
    <%- include("partials/header") %>

    <form action="/contact" method="POST" id="form">
      <div class="form-body">
        <i class="fa-solid fa-envelope-circle-check"></i>
        <div class="text-form">
          <p class="text">Gracias por ponerte en contacto con nosotros!</p>
          <p class="text-medium">Serás redirigido/a al Home en 5 segundos.</p>
        </div>
    </div>

    </form>

    <%- include("partials/footer") %>
  </body>
</html>