<!doctype html>
<html lang="es">
  <head>
    <%- include("partials/head") %>

    <title>Kairos</title>
  </head>

  <body>
    <%- include("partials/header") %>
    <div class="marquee">
      ENCONTRÁ TU RELOJ IDEAL Y DISFRUTÁ CADA MINUTO DE LA VIDA! ENVÍOS A TODO
      EL PAÍS
    </div>
    <!-- <div>
      <img src="/images/products/hero-banner.jpeg" class="main-banner" alt="" />
    </div> dejo nota para recordad borrar css no utilizado-->

    <div class="slider-frame"> 
      <ul>
        <li><img src="/images/slider/slider1.jpg" alt=""></li>
        <li><img src="/images/slider/slider2.jpg" alt=""></li>
        <li><img src="/images/slider/slider3.jpg" alt=""></li>
        <li><img src="/images/slider/slider4.jpg" alt=""></li>
      </ul>
    </div

    <main class="main-body">
      <p class="title-new">ÚLTIMOS INGRESOS</p>

      <div class="newest-products">
        <div class="new-product">
          <p>Reloj</p>
          <img src="/images/products/rolex.jpg" alt="" />
        </div>

        <div class="new-product">
          <p>Reloj</p>
          <img src="/images/products/rolex.jpg" alt="" />
        </div>

        <div class="new-product">
          <p>Reloj</p>
          <img src="/images/products/rolex.jpg" alt="" />
        </div>
      </div>

      <div class="category-about">
        <img src="/images/products/sport-women.jpg" alt="" />
        <p>
          Nuestros relojes deportivos combinan tecnología y estilo para ser tu
          compañero ideal en cualquier actividad física. Además de mostrar la
          hora, monitorizan ritmo cardíaco, pasos y más en tiempo real. Con GPS,
          resistencia al agua y seguimiento especializado, se adaptan a
          diferentes deportes. Tanto atletas como aficionados encontrarán en
          ellos herramientas para superarse y alcanzar objetivos. Su diseño
          moderno y duradero va más allá de la estética, siendo esenciales para
          una vida activa y saludable.
        </p>
      </div>

      <div class="category-about style-about">
        <img src="/images/products/style-man.jpg" alt="" />
        <p>
          Nuestros relojes clásicos encarnan la elegancia duradera y la
          artesanía excepcional. Cada detalle refleja refinamiento, desde
          acabados hasta complicaciones. Estos relojes no son solo accesorios,
          son expresiones de estilo y distinción, ideales tanto para ocasiones
          formales como para el uso diario.
        </p>
      </div>

      <div class="banner-bottom">
        <img src="/images/products/banner-bottom.jpg" />
        <div class="image-text">25% OFF</div>
      </div>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
