<!doctype html>
<html lang="es">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/styles-how-to-buy.css" />

    <title>Kairos</title>
  </head>

  <body>
    <%- include("partials/header") %>
    <div class="marquee">
      ENCONTRÁ TU RELOJ IDEAL Y DISFRUTÁ CADA MINUTO DE LA VIDA! <i class="fa-solid fa-truck-fast"></i>
      ENVÍOS A TODO EL PAÍS! 
    </div>
  
     
    <main class="main-questions">
        <h4 chass="text">¿Cómo puedo hacer el seguimiento de mi pedido?</h4>
        <ul>
            <p>Te enviaremos un mail con un código (tracking number) y las instrucciones para que puedas hacer el seguimiento de tu pedido.</p>
            <p>En el caso de no haber recibido el tracking number, podes comunicarte con el sector de atencion al cliente para que te ayude a realizar el seguimiento.</p>
        </ul>
        

    </main>

<%- include("partials/footer") %>
</body>
</html>