<!DOCTYPE html>
<html lang="es">

<head>

    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/styles-login.css">


        <title>Login</title>
</head>

<body>
    <form action="/users/login" method="post">
        <div class="form-body">
            <img src="/images/kairos-logo-un-color-azul.png" alt="kairos-logo-un-color-azul">
            <p class="text">Bienvenido/a</p>
            <div class="form-login">
                <i class="fa-solid fa-user"></i>
                <input type="email" name="email" id="email" placeholder="Usuario">
            </div>
            <div class="form-login">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <button>Ingresar</button>
            <p><a href="#" class="link">Olvidaste tu contraseña?</a></p>
            <p><a href="/users/register/" class="link">No tenes usuario? Registrate</a></p>
    </form>
</body>

</html>